# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
*.egg-info/
dist/
build/
# IDE
.idea/
.vscode/
*.swp
*.swo
stockfish.exe
data/
# Stockfish builds
Stockfish-master/
# Keep root stockfish.exe tracked (it's the binary we use)
# !stockfish.exe
engines/
# Misc
.DS_Store
Thumbs.db
*.log
Stockfish-master
rust_engine/target/
books/komodo.bin
books/titans.bin
src/archived_python_engines.zip
Nextthingtodo.md
rust_engine/stockfish_bin/
rust_engine/rust_engine.dll
rust_engine/setup_stockfish.py
rust_engine/benchmark_sf11.py
rust_engine/benchmark_sf_hce.py